// ======================================
//  Grid System
// ======================================
.container  {
  padding: 0 $gap; 
  max-width: $max-width; 
  @include centering;    
  @include media-query('med');  
}

.row {
  @include flexing($display:flex, $dir:column);  
  padding: 1em $gap;
  
  @include media-query('med') {
    @include flexing($dir: row);
  }
}

[class^=col] {
  margin-top: $gap;
  @include flexing($basis:100%);
  min-height: 25px;
  padding: $gap;
  border-radius: $b-radius;

  @include media-query('med') {
    margin-top: 0;
    @include flexing($display: flex, 
                     $justify: center, 
                     $align: center);        
    & + & {
      margin-left: $gap;
    }    
  }
}

.card {
  @include flexing($basis:100%);
}

.centered {  
  @include media-query('med') {
    @include centering; 
    text-align: center;
  }
}

@include col-flexy($col-bg); 

